img {
  max-width: 100%;
}
.reset-button,
.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
}
.reset-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.reset-button:active,
.reset-button:focus {
  outline: 0;
}
.flex-wrapper,
footer .wrapper,
.main__header .wrapper,
.section .section__block .inline-blocks,
.section .section__title .inline-blocks,
.section .wrapper,
.section__n5 .product-showcase .product-unit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.open-light,
footer .footer__col p,
footer .footer__col a,
footer .copyright p,
.section__n5 .product-showcase .product-unit .product__price .new-price span,
.section__n5 .product-showcase .product-unit .product__price .price-condition {
  font-weight: 300;
}
.open-regular,
.button--green span,
.section__n2 .section__text p,
.section__n4 .section__block .inline-blocks p {
  font-weight: 400;
}
.open-bold,
footer .footer__col h5,
footer .footer__col .white-link,
.main__header nav ul li a,
.button--green,
.section__n1 .section__text h2,
.section__n2 .section__text h2,
.section__n3 .section__text h2,
.section__n4 .section__title h2,
.section__n4 .section__block .inline-blocks h4,
.section__n5 h2,
.section__n5 h5,
.section__n5 .product-showcase .product-unit h5,
.section__n5 .product-showcase .product-unit .product__description .time,
.section__n5 .product-showcase .product-unit .product__description .discount,
.section__n5 .product-showcase .product-unit .product__price .old-price,
.section__n5 .product-showcase .product-unit .product__price .current-price,
.section__n5 .product-showcase .product-unit .product__price .new-price,
.section__n5 .security p {
  font-weight: 700;
}
footer {
  background-color: #2e2e2e;
  background-image: url(../images/bg-cinza-escuro.jpg);
  margin-top: 2.5em;
  padding-bottom: 2em;
}
footer .wrapper {
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  footer .wrapper {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
footer .footer__col h5 {
  color: #fff;
  font-size: 0.875em;
  text-align: left;
  margin: 1.875em 0 0.625em;
}
@media only screen and (max-width: 768px) {
  footer .footer__col h5 {
    text-align: center;
  }
}
footer .footer__col p,
footer .footer__col a {
  color: rgba(174, 173, 174, 0.8);
  font-size: 0.75em;
  text-align: left;
  margin: 0;
  display: block;
}
@media only screen and (max-width: 768px) {
  footer .footer__col p,
  footer .footer__col a {
    text-align: center;
  }
}
footer .footer__col .white-link {
  color: #fff;
  font-size: 0.75em;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  footer .footer__col .white-link {
    text-align: center;
  }
}
footer .footer__col .inline p,
footer .footer__col .inline a {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  footer .footer__col .inline p,
  footer .footer__col .inline a {
    display: block;
  }
}
footer .copyright {
  border-top: 1px solid rgba(174, 173, 174, 0.23);
  margin-top: 1.563em;
  padding-top: 1.25em;
}
footer .copyright .logo {
  width: 65px;
  height: 36px;
}
footer .copyright p {
  color: rgba(174, 173, 174, 0.8);
  font-size: 0.75em;
  text-align: left;
  margin: 0;
  display: block;
}
@media only screen and (max-width: 768px) {
  footer .copyright p {
    text-align: center;
  }
}
.main__header {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 0.313em 0;
  margin-bottom: 1.25em;
}
.main__header .wrapper {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .main__header .wrapper {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .main__header nav {
    display: none;
  }
}
.main__header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main__header nav ul li {
  display: inline-block;
}
.main__header nav ul li a {
  color: #e31598;
  padding: 0.625em 1.25em;
}
.main__header nav ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.logo {
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 145px;
  height: 79px;
}
.button--xl {
  padding: 0.5em 1.5em;
  border-radius: 15px;
}
.button--md {
  padding: 0.5em 1em;
  border-radius: 15px;
}
.button--green {
  background: #74be33;
  background: linear-gradient(to bottom, #74be33 0%, #489417 100%);
  box-shadow: 0 4px 0 0 #24450d;
  border-color: #000;
  border-width: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.375em;
  display: inline-block;
  letter-spacing: -2px;
}
.button--green:hover,
.button--green:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.button--green span {
  display: block;
  font-size: 55%;
  color: #fff;
  letter-spacing: 0;
}
.button--green span:hover,
.button--green span:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.section {
  padding: 2.5em 0;
}
.section .section__text {
  max-width: 60%;
}
@media only screen and (max-width: 768px) {
  .section .section__text {
    width: 100%;
    max-width: 100%;
    padding: 0 2em;
  }
}
.section .section__block,
.section .section__title {
  width: 100%;
  display: block;
}
.section .section__block .inline-blocks,
.section .section__title .inline-blocks {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.section .wrapper {
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .section .wrapper {
    flex-flow: column;
  }
}
.section__n1 {
  background: url(../images/bg-cinza2-1.png) no-repeat center;
}
.section__n1 .section__text {
  width: 45%;
}
@media only screen and (max-width: 768px) {
  .section__n1 .section__text {
    width: 100%;
  }
}
.section__n1 .section__text h2 {
  color: #474747;
  font-size: 1.75em;
  text-transform: uppercase;
}
.section__n1 .section__text h2 span {
  color: #e31598;
  text-decoration: underline;
}
.section__n1 .section__text ul {
  list-style: none;
  padding: 0.75em 0 0;
}
.section__n1 .section__text ul li {
  color: #414042;
  font-size: 1em;
  background-image: url(../images/icon-check.png);
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  padding-left: 1.5em;
  margin-bottom: 0.875em;
}
.section__n1 .section__text .button {
  margin-top: 2em;
}
.section__n2 {
  background: url(../images/bg-cinza-escuro.jpg) repeat;
}
.section__n2 .section__text {
  margin-right: 2em;
}
.section__n2 .section__text h2 {
  color: #fff;
  font-size: 1.875em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}
.section__n2 .section__text p {
  color: #cfcfcf;
  font-size: 1.125em;
  line-height: 1.125em;
  text-align: center;
}
.section__n3 .section__text {
  margin: 0 1em;
  padding: 0 1em;
}
.section__n3 .section__text h2 {
  color: #e31598;
  font-size: 1.938em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}
.section__n3 .section__text .button {
  margin: 1em 0;
}
.section__n4 .section__title {
  background: #e31598;
  padding: 2em 0;
  margin-bottom: 3.125em;
}
.section__n4 .section__title h2 {
  color: #fff;
  font-size: 1.938em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 0 5px;
}
.section__n4 .section__block .wrapper {
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
.section__n4 .section__block .inline-blocks {
  width: calc(50% - 3em);
  margin: 1.5em 1.5em;
}
@media only screen and (max-width: 768px) {
  .section__n4 .section__block .inline-blocks {
    width: 100%;
  }
}
.section__n4 .section__block .inline-blocks h4 {
  color: #414042;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
}
.section__n4 .section__block .inline-blocks p {
  color: #414042;
  font-size: 1em;
}
.section__n5 {
  background: url(../images/bg-cinza-escuro.jpg) repeat;
}
.section__n5 .wrapper {
  align-items: flex-start;
}
.section__n5 .section__block:first-child {
  margin-bottom: 3em;
}
.section__n5 h2 {
  color: #fff;
  font-size: 1.875em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  line-height: 2.188em;
}
.section__n5 h2 span {
  color: #e31598;
}
.section__n5 h5 {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}
.section__n5 h5 span {
  text-decoration: underline;
}
.section__n5 .product-showcase .product-unit {
  width: calc(30% - 2em);
  margin: 0 1em;
  border: 3px solid #e31598;
  border-radius: 10px;
  background: #fff;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section__n5 .product-showcase .product-unit {
    width: calc(100% - 2em);
    margin: 3em 1em;
  }
}
.section__n5 .product-showcase .product-unit h5 {
  background: #e31598;
  padding: 0.5em;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: -1.5em;
}
.section__n5 .product-showcase .product-unit .product__description {
  margin: 2em 0;
}
.section__n5 .product-showcase .product-unit .product__description .time {
  color: #414042;
  font-size: 1.5em;
}
@media only screen and (max-width: 768px) {
  .section__n5 .product-showcase .product-unit .product__description .time {
    text-align: center;
  }
}
.section__n5 .product-showcase .product-unit .product__description .discount {
  color: #489417;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
}
.section__n5 .product-showcase .product-unit .product__description span {
  font-size: 0.875em;
  text-align: center;
  display: block;
}
.section__n5 .product-showcase .product-unit .product__price {
  margin-bottom: 1.5em;
}
.section__n5 .product-showcase .product-unit .product__price .old-price,
.section__n5 .product-showcase .product-unit .product__price .current-price {
  color: #414042;
  font-size: 1.25em;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
}
.section__n5 .product-showcase .product-unit .product__price .current-price {
  text-decoration: none;
}
.section__n5 .product-showcase .product-unit .product__price .new-price {
  color: #489417;
  font-size: 5.25em;
  line-height: 80px;
  margin: 0;
}
.section__n5 .product-showcase .product-unit .product__price .new-price span {
  font-size: 30%;
}
.section__n5 .product-showcase .product-unit .product__price .price-condition {
  color: #414042;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0;
}
.section__n5 .product-showcase .product-unit .button {
  position: absolute;
  bottom: -1.2em;
}
.section__n5 .security {
  margin-top: 5em;
}
@media only screen and (max-width: 768px) {
  .section__n5 .security {
    padding: 0 1em;
  }
}
.section__n5 .security p {
  color: #fff;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
}
.section__n5 .security img {
  display: block;
  margin: 0 auto;
}
