

<!DOCTYPE html>
<div data-server-rendered="true"><div><div class="card card--default"><div class="card__wrapper"><div class="card__image"><img alt="AMSTERDAM image" data-url="https://raw.githubusercontent.com/milaab90/valtech-cb/master/src/assets/images/cards/Amsterdam.jpg"></div> <div class="card__cta"><div class="card__text"><h3>NETHERLANDS</h3> <h1>AMSTERDAM</h1> <div></div></div> <div class="card__overlay"><p>Lorem ipsun dolor sit a met lorem dolor sit a met factius lorem ipsun dolor sit a met ipsun lorem amet</p> <button class="button button--white">Explore more</button></div></div></div></div></div></div>
