

<!DOCTYPE html>
<div data-server-rendered="true"><div><div class="card card--default card--full"><div class="card__wrapper"><div class="card__image"><img alt="Lagoa image" data-url="https://raw.githubusercontent.com/milaab90/valtech-cb/master/src/assets/images/cards/Lagoa.jpg"></div> <div class="card__cta"><div class="card__text"><h3>Front-end</h3> <h1></h1> <div class="card__logo card__logo--valtech"></div></div> <div class="card__overlay"><p>Lorem ipsun dolor sit a met lorem dolor sit a met factius lorem ipsun dolor sit a met ipsun lorem amet</p> <button class="button button--white">Explore more</button></div></div></div></div></div></div>
